/* === commons === */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a, a:visited, a:link {
  text-decoration: none;
  color: inherit;
}
.active a {
  position: relative;
}
.active a::before {
  content: '';
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  top: calc(50% - 5px);
  border-radius: 50%;
  left: -20px;
  background-color: #3C1491;
}
button {
  display: inline;
  background-color: #3C1491;
  /* height: 40px; */
  max-width: 250px;
  padding: 9px 15px 9px 15px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  border-style: none;
}
.main-container {  
  display: flex;
}
.layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container-outer {
  padding: 0 10px;  
}
.container-inner {
  max-width: 1170px;
  margin: 0 auto;  
}
.content {
  flex-grow: 2;    
}
.hidden {
  display: none;
}
/* === /commons === */


/* === catalog === */
.catalog-title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 400;
  margin-bottom: 40px;
}
.bike-name {
  width: 70%;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 10px;
}
.bike-cost {
  margin-bottom: 20px;
}
#bikeList {
  flex: 1 3 80%;
}
.side {
  flex: 1 0 auto;
  margin-bottom: 20px;  
}
.bike-cards-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.bike-info-container .bike-img {
  max-width: 300px;
  max-height: 180px;
  border: 1px solid #CECECE ;
  margin-bottom: 20px;
  padding: 20px;
}
.bike-img img {
  width: 100%;
  height: auto;
}
.bike-info-container {
  flex: calc(50% - 30px);
  min-width: 320px;
  max-width: 360px;
  margin: 15px 10px;
}
.side-title {
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;  
}
.point {
  margin-bottom: 15px;
}
.point-link {
  font-size: 18px;
  color: #333;  
}
.activeLoadMore {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;  
}
/* === /catalog === */


/* === header === */
.header {  
  background-color: #3C1491;
  color: #fff;  
}
.header__content {
  display: flex;
  align-items: center;
  height: 68px;
}
.logo {
  display: block;
  background: url('./logo.png') no-repeat;
  width: 45px;
  height: 36px;
  margin-right: auto;
}
.header__link {
  color: #fff;
  line-height: 22px;
  font-size: 18px;
  margin-left: 15px;
  text-decoration: none;
}
/* === / header === */


/* === / footer === */
.footer {
  height: 61px;
  background-color: #3C1491;
  color: #fff;
}
.copyright {
  margin: 20px 0 0;
  line-height: 20px;
  font-size: 14px;
}
/* === / footer === */


/* === index */
.index-background {
  background: url(../images/index-bg.png);
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 0;
}
.index-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 0, 69, 0.42);
  z-index: -1;
}
.index-content-container {
  display: flex;
  /* width: 100%; */
  min-width: 300px;
  max-width: 760px;
  flex-direction: column;
  color: #fff;
  margin-top: 100px;
}
.index-title {
  font-size: 48px;
  line-height: 60px;
  font-weight: 400;
  margin-bottom: 20px;
  width: 50%;
}
.index-description {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 20px;
  /* width: 50%; */
}
.index-footer {
  display: flex;
}
.index-footer  button {
  margin-right: 10px;
}
/* ===  /index */


/* === card-requisites */
/* === forms */
.form-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}
.form-container {
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  width: 50%;  
}
.form-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 10px;  
}
.form-input {
  height: 42px;
  margin-bottom: 20px;
}
/* === /card-requisites */




/* ===  Media */
@media  (max-width: 1023px) {
  .main-container {
    flex-direction: column;  
  }
  .side .pointers-list {
    margin-left: 20px;
  }
  #bikeList {
    order: 2;
  }
}
@media  (max-width: 767px) {
  #bikeList ul {
    flex-direction: column;
  }
  .bike-name {
    width: 100%;
  }
  .bike-info-container {
      min-width: unset;      
  }
}
/* === / Media */