{{> header}}
<div class="content lk container-outer">
	<div class="container-inner">
    <div class="form-title">Реквизиты карты</div>
    <div class="form-container">      
      <form class="form" method="POST">
    
      <label class="form-label" for="card-number">Номер карты</label>
      <input class="form-input"
      type="text"
      class=""
      {{#cardRequisites}}
      value="{{number}}"
      {{/cardRequisites}}      
      id="card-number"
      name="card-number">
    
      <label class="form-label" for="validity-period">Срок действия</label>
      <input class="form-input" 
      type="text" 
      class="" 
      id="validity-period" 
      {{#cardRequisites}}
      value="{{date}}"
      {{/cardRequisites}} 
      name="validity-period">
    
      <label class="form-label" for="cvv">CVV</label>
      <input class="form-input"
      type="text"
      class=""
      {{#cardRequisites}}
      value="{{cvv}}"
      {{/cardRequisites}}
      id="cvv"
      name="cvv">
    
      <button id = "submitButton" class="button" type="submit">Сохранить</button>
    </form>    
    </div>
  </div>
</div>


<script src="../js/card-requisites.js"></script>
{{> footer}}
