{{> header}}
<div class="content container-outer">
  <div class="container-inner">

    {{#pointInfo}}
    <h3 class="catalog-title">Каталог велосипедов по адресу {{address}}</h3>
    {{/pointInfo}} 
    
    
    {{^pointInfo}}
    <h3>Каталог велосипедов</h3>
    {{/pointInfo}}
  
  
  
  
    <div class="main-container">
      <div id="bikeList">
        <!-- Здесь необходимо отобразить карточки велосипедов -->
        
      </div>
      <div class="side">
        <div class="side-title">Пункты выдачи</div> 
        <ul class="pointers-list">
          <!--
            При помощи шаблонизатора mustache выведи пункты проката из массива pointersList
            <li><a href="/catalog/ID пункта">Адрес пункта</a></li>
            А если у пункта есть флаг isActive, то в списке пометить его
            <li class="active"><a href="/catalog/ID пункта">Адрес пункта</a></li>
          -->
  
          {{#pointersList}}
              {{#isActive}}
                <li class=" active point"><a class="point-link" href="/catalog/{{_id}}">{{address}}</a></li>
              {{/isActive}}
              
              {{^isActive}}
                <li class="point"><a class="point-link" href="/catalog/{{_id}}">{{address}}</a></li> 
              {{/isActive}}
          {{/pointersList}}
          <li class="point"><a class="point-link" href="/catalog/">Все пункты</a></li>
        </ul>
      </div>
    </div>
  
    <div id="loadMore" class="hidden">
      <button type="button">Загрузить ещё</button>
    </div>
  
  
  
  </div>

  </div>
  <!--
    При помощи шаблонизатора mustache выведи заголовок каталога.
    Если выбран пункт проката, то в переменной pointInfo будет информация о выбранном пункте
    и в таком случае заголоввок должен быть таким <h3>Каталог велосипедов по адресу %адрес пункта%</h3>
    если пункт не выбран, то такой заголовок <h3>Каталог велосипедов</h3>
  -->

  <!-- это див из хедера. Теперь он на своем месте. Я готов обсудить это в тг -->

  







<script src="../js/api.js"></script>
<script src="../js/catalog.js"></script>

<!--  -->


{{> footer}}
