{{> header}}

<div class="content index-background container-outer">
 <div class="container-inner">

  <div class="index-content-container">
    <div class="index-title">
      Сервис аренды велосипедов
    </div>
    <div class="index-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse blanditiis illo aperiam voluptatibus at nobis impedit illum deserunt vero commodi voluptate optio excepturi quidem nostrum laboriosam hic quas voluptas, ut!
    </div>
    <div class="index-footer">
        <a href="/catalog/MHYrbJIhDVDA66Pu"><button class="button">Арендовать велосипед </button></a>
        <a href="/map"><button class="button">Найти пункт выдачи </button></a>
    </div>
    
  </div>

 </div>

  <!-- <div class="index-bg"></div> -->

  <!-- <a href="/catalog">Начни со страницы каталога</a> -->

</div>

{{> footer}}
